*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out/

backend/assets/venv/

backend/assets/LF1-index-photos/package/
backend/assets/LF1-index-photos/*.zip
backend/assets/LF2-search-photos/package/
backend/assets/LF2-search-photos/*.zip

.idea